# ocrd includes opencv, numpy, shapely, click
ocrd >= 2.23.3
keras >= 2.3.1, < 2.4
scikit-learn >= 0.23.2
tensorflow-gpu >= 1.15, < 2
imutils >= 0.5.3
matplotlib
setuptools >= 50

numpy~=1.18.5
scipy~=1.6.3
click~=8.0.1
Shapely~=1.7.1